%h1 Your Feed

- if @posts.any?
  - @posts.each do |post|
    .post
      %h2= link_to post.title, post_path(post)
      %p= truncate(post.body, length: 200)
      %small
        Posted by #{link_to post.user.email, user_path(post.user)} at #{post.created_at.strftime('%B %d, %Y %H:%M')}
      %p
        = pluralize(post.comments.count, 'comment')
- else
  %p You're not following anyone yet, or the people you follow haven't posted anything.
  = link_to 'Find users to follow', users_path

.pagination
  - if @page > 1
    = link_to 'Previous', feed_path(page: @page - 1)
  - if @page < @total_pages
    = link_to 'Next', feed_path(page: @page + 1)
  %p
    Page #{@page} of #{@total_pages}
    