= form_with(model: post, local: true) do |form|
  - if post.errors.any?
    #error_explanation
      %h2= "#{pluralize(post.errors.count, "error")} prohibited this post from being saved:"
      %ul
        - post.errors.full_messages.each do |message|
          %li= message

  .form-group
    = form.label :title
    = form.text_field :title

  .form-group
    = form.label :body
    = form.text_area :body, rows: 5

  .actions
    = form.submit

%hr
= link_to 'Back to Posts', posts_path