%h1 Your Posts

= link_to 'New Post', new_post_path, class: 'btn btn-primary'

.posts
  - if @posts.any?
    - @posts.each do |post|
      .post
        %h2= link_to post.title, post_path(post)
        %p= truncate(post.body, length: 200)
        %small
          Posted at #{post.created_at.strftime('%B %d, %Y %H:%M')}
        = link_to 'Edit', edit_post_path(post)
        = link_to 'Delete', post_path(post), method: :delete, data: { turbo_method: :delete, turbo_confirm: 'Are you sure?' }
  - else
    %p You haven't created any posts yet.

= render 'shared/pagination', page: @page, total_pages: @total_pages
