%h1= @post.title
%p= @post.body
%small
  Posted by #{@post.user.email} at #{@post.created_at.strftime('%B %d, %Y %H:%M')}

- if user_signed_in? && current_user == @post.user
  = link_to 'Edit', edit_post_path(@post), class: 'btn btn-secondary'
  = link_to 'Delete', post_path(@post), method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger'

%h2 Comments
= render @post.comments.where(parent_id: nil)

%h3 Add a comment:
= form_with(model: [@post, Comment.new], local: true) do |form|
  = form.text_area :body, rows: 3, class: 'form-control'
  = form.submit 'Add Comment', class: 'btn btn-primary'
